.header {
    background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
padding: 3rem;
}
.header > * {
    max-width: 40rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    margin: auto;
}

.header mark {
    background-color: initial;
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;

    max-width: 400px;
    margin: auto;
}

.contactMethod {
    font-size: 1.6rem;
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%), 0 1px 3px 0 rgb(0 0 0 / 20%);
    display: block;
    text-decoration: inherit;
    color: inherit;

}

.contactMethod:hover {
    box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12),
    0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.cta {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
}

.a {
    margin-left: 1rem;
}