html, body {
    background-color:#F6F7F9;
    height: 100%;
    margin: 0;

    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
  
}
@media only screen and (min-width: 500px) {
    html {

        font-size: 68.75%;
    }
}

@media only screen and (min-width: 700px) {
    html  {

        font-size: 70%;
    }
}

@media only screen and (min-width: 1000px) {
    html {

        font-size: 75%;
    }
}