@import 'styles/shadows';
@import 'styles/gradients';

.create-user-page {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background: var(--card);
  display: flex;
  flex-direction: column;
  box-shadow: $shadow-1;
  border-radius: 1rem;
}

.header {
  color: #fffd;
  padding: 2rem;
  font-size: 2.5rem;
}

.input,
.button {
  margin: 2rem;

  > * {
    width: 20rem;
  }
}

.error {
  color: #f00;
  background-color: #f001;
  white-space: normal;
}
